<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeBasic"
        tools:targetApi="31">
        <activity
            android:name=".Chap35Activity"
            android:exported="true"
            android:label="@string/title_activity_chap35"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap34Activity"
            android:exported="false"
            android:label="@string/title_activity_chap34"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap33Activity"
            android:exported="false"
            android:label="@string/title_activity_chap33"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap32Activity"
            android:exported="false"
            android:label="@string/title_activity_chap32"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".ConstraintSetActivity"
            android:exported="false"
            android:label="@string/title_activity_constraint_set"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap30BarrierActivity"
            android:exported="false"
            android:label="@string/title_activity_chap30_barrier"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap30Activity"
            android:exported="false"
            android:label="@string/title_activity_chap30"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap29Activity"
            android:exported="false"
            android:label="@string/title_activity_chap29"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap28Activity"
            android:exported="false"
            android:label="@string/title_activity_chap28"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap27Activity"
            android:exported="false"
            android:label="@string/title_activity_chap27"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap26Activity"
            android:exported="true"
            android:label="@string/title_activity_chap26"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap25Activity"
            android:exported="true"
            android:label="@string/title_activity_chap25"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap24Activity"
            android:exported="false"
            android:label="@string/title_activity_chap24"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap23Activity"
            android:exported="false"
            android:label="@string/title_activity_chap23"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap22Activity"
            android:exported="false"
            android:label="@string/title_activity_chap22"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap21Activity"
            android:exported="false"
            android:label="@string/title_activity_chap21"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap20Activity"
            android:exported="false"
            android:label="@string/title_activity_chap20"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".Chap19MainActivity"
            android:exported="false"
            android:label="@string/title_activity_chap19_main"
            android:theme="@style/Theme.ComposeBasic" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeBasic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>